@font-face {
  font-family: 'Editorial'; /* Name you will use in your CSS */
  src: url('./fonts/PPEditorialNew-Regular.otf') format('opentype'); /* Path to the font file */
  font-weight: normal; /* Define the weight (normal, bold, or specific values) */
  font-style: normal; /* Define the style (normal, italic, oblique) */
  font-display: swap; /* Control font loading behavior */
}

@font-face {
  font-family: 'Montreal'; /* Name you will use in your CSS */
  src: url('./fonts/PPNeueMontreal-Book.otf') format('opentype'); /* Path to the font file */
  font-weight: normal; /* Define the weight (normal, bold, or specific values) */
  font-style: normal; /* Define the style (normal, italic, oblique) */
  font-display: swap; /* Control font loading behavior */
}

#preload{
    width: 100vw;
    height: 100vh;
    background: rgb(255, 152, 42);
    z-index: 99999;
    position: absolute;
    top: 0;
}

html {
    cursor: pointer;
    scroll-behavior: smooth;
    letter-spacing: -4%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari, Chrome, Opera */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */  
    overflow-x: hidden;
}

.text-editorial{
    font-family: 'Editorial' !important;
}

.text-montreal{
    font-family: 'Montreal' !important;
}

.text-dark{
    color: #101010;
}

.button{
    padding: 0.75rem 1rem;
    border: 2px solid #101010;
    border-radius: 12800px;
}

.photo-strip {
  width: 15vw;
  border-radius: 0.75rem;
}

.beginning {
  background-color: transparent;
  transition: background-color 0.6s ease;
}
.letter-bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.letter-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.letter-word {
display: inline-block;
  white-space: pre-wrap;
  line-height: 150%;
  opacity: 0;
  transform: translateY(0.8em);
  will-change: transform, opacity;
}

.line {
  display: block;
  overflow: hidden;
}

.flair {
    position: fixed;
    opacity: 0;
    height: 80px; /* Adjust size as needed */
    aspect-ratio: 1; /* Maintains a perfect square ratio */
    object-fit: cover; /* Ensures the image covers the heart shape nicely */
    /* The heart clip-path polygon points */
    clip-path: polygon(
        -41% 0, 
        50% 91%, 
        141% 0
    ); 
    /* Fallback or additional masking for better browser support */
    mask: radial-gradient(at 70% 31%, #000 29%, #0000 30%), 
            radial-gradient(at 30% 31%, #000 29%, #0000 30%), 
            linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
}

.final{
    cursor: none;
}