@font-face {
  font-family: 'Editorial'; /* Name you will use in your CSS */
  src: url('./fonts/PPEditorialNew-Regular.otf') format('opentype'); /* Path to the font file */
  font-weight: normal; /* Define the weight (normal, bold, or specific values) */
  font-style: normal; /* Define the style (normal, italic, oblique) */
  font-display: swap; /* Control font loading behavior */
}

@font-face {
  font-family: 'Montreal'; /* Name you will use in your CSS */
  src: url('./fonts/PPENeueMontreal-Book.otf') format('opentype'); /* Path to the font file */
  font-style: normal; /* Define the style (normal, italic, oblique) */
  font-display: swap; /* Control font loading behavior */
}

html {
    cursor: pointer;
    scroll-behavior: smooth;
    letter-spacing: -4%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari, Chrome, Opera */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */  
    overflow-x: hidden;
}

.text-editorial{
    font-family: 'Editorial';
}

.text-montreal{
    font-family: 'Montreal';
}

.text-dark{
    color: #101010;
}

.button{
    padding: 0.75rem 1rem;
    border: 2px solid #101010;
    border-radius: 12800px;
}

.photo-strip {
  width: 15vw;
  border-radius: 0.75rem;
}

.beginning {
  background-color: transparent;
  transition: background-color 0.6s ease;
}

.flair {
    position: fixed;
    opacity: 0;
    width: 50px;
}

.final{
    cursor: none;
}